/node_modules

# env files (can opt-in for committing if needed)
server/.env.example
.env

.vscode
.webstorm
.DS_Store
.ideanode_modules/
.idea/
.idea

# testing
/coverage

# next.js
/.next/
/out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

#agents
.vibe
skills-lock.json



